In [2]:
import pandas as pd
url = 'https://github.com/gelos21/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url, low_memory=False)
city_mpg = df.city08
highhway_mpg = df.highway08

In [11]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [12]:
highhway_mpg√ß

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

In [14]:
len(dir(city_mpg))

420

In [4]:
(city_mpg + highhway_mpg)/ 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [3]:
(city_mpg + highhway_mpg)/ 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [4]:
s1 = pd.Series([10, 20, 30], index=[1, 2, 2])
s2 = pd.Series([35, 44, 53], index=[2, 2, 4], name='s2')

In [6]:
s1

1    10
2    20
2    30
dtype: int64

In [7]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [8]:
s2 + s1

1     NaN
2    55.0
2    65.0
2    64.0
2    74.0
4     NaN
dtype: float64

In [9]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [10]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [12]:
(city_mpg.add(highhway_mpg.div(2)))

0        31.5
1        16.0
2        39.5
3        16.0
4        28.5
         ...
41139    32.0
41140    34.0
41141    30.0
41142    30.0
41143    26.5
Length: 41144, dtype: float64

In [13]:
city_mpg.quantile()

17.0

In [14]:
city_mpg.quantile(.9)

24.0

In [15]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

In [19]:
city_mpg.gt(20).sum() # con estos dos metodos conseguimos filtrar los coche con km sumperior a 20 y luego sumarlos.

10272

In [20]:
city_mpg.nbytes

329152