In [3]:
import pandas as pd
url = 'https://github.com/gelos21/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url, low_memory=False)
city_mpg = df.city08
highhway_mpg = df.highway08

In [4]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [5]:
highhway_mpgç

NameError: name 'highhway_mpgç' is not defined

In [ ]:
len(dir(city_mpg))

420

In [ ]:
(city_mpg + highhway_mpg)/ 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [ ]:
(city_mpg + highhway_mpg)/ 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: float64

In [ ]:
s1 = pd.Series([10, 20, 30], index=[1, 2, 2])
s2 = pd.Series([35, 44, 53], index=[2, 2, 4], name='s2')

In [ ]:
s1

1    10
2    20
2    30
dtype: int64

In [ ]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [ ]:
s2 + s1

1     NaN
2    55.0
2    65.0
2    64.0
2    74.0
4     NaN
dtype: float64

In [ ]:
s1.add(s2)

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [ ]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [ ]:
(city_mpg.add(highhway_mpg.div(2)))

0        31.5
1        16.0
2        39.5
3        16.0
4        28.5
         ...
41139    32.0
41140    34.0
41141    30.0
41142    30.0
41143    26.5
Length: 41144, dtype: float64

In [ ]:
city_mpg.quantile()

17.0

In [ ]:
city_mpg.quantile(.9)

24.0

In [ ]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

In [ ]:
city_mpg.gt(20).sum() # con estos dos metodos conseguimos filtrar los coche con km sumperior a 20 y luego sumarlos.

10272

In [ ]:
city_mpg.nbytes

329152

In [6]:
make = df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [7]:
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [8]:
top5 = make.value_counts().index[:5]
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object